*{
margin:0px;
padding:0px;
box-sizing:border-box;
 }
body{
display:flex;
justify-content:center;
align-items:center;
font-family:Arial, Helvetica, sans-serif;
}
#card{
 display:flex;
align-items:center;
justify-content:space-around;
flex-wrap:wrap;
gap:5px;
margin-top:30px;
}
.card{
border:5px solid #218ffc;
box-shadow:0px 3px 3px 2px;
width:45%;
}
.card:hover{
background-color:pink;
}
h1,h5{
 text-align: center;
 margin-top:10px;
 padding-top:10px;
}

.image{
width:100%;
margin-top:20px;
display:block;
}

p{
font-size:8px;
font-weight:bold;
text-align:center;
margin-top:5px;
}
.category,.price{
text-align:center;
font-size:1rem ;
}
span{
  color:blue;
  font-size:1rem;
}
